.container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #312f30;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: white;
  text-align: left;
  align-items: center;
}
.header_menu {
  width: 155px;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  background-color: #312f30;
  border-left: 2px solid white;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_square {
  width: 50px;
  height: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #28a2c7),
    color-stop(1, #08bdff)
  );
  border-radius: 5px;
  border: 4px solid #2f96c5;
  cursor: pointer;
  font-family: impact;
  font-size: 40px;
  font-weight: bold;
  padding-left: 0%;
  padding-right: 0%;
}
.button_square:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #08bdff),
    color-stop(1, #28a2c7)
  );
}
.button_square:disabled {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #c9ccd1),
    color-stop(1, #d1d1d1)
  );
  border: 0px;
  padding-left: 0%;
  padding-right: 0%;
}
.image_bomb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
}
.text_box {
  width: 70px;
  height: 30px;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  font: normal 30px / normal Arial Black, Gadget, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  background: #28a2c7;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.icons {
  border-radius: 50%;
  background-color: #e6e6e6;
  vertical-align: middle;
}
.bomb_image {
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 4px;
}
.panel_game {
  align-items: center;
  padding: 17px;
  text-align: center;
  background-color: #e6e6e6;
  margin-bottom: 16px;
  margin-top: 66px;
}
.smiley {
  width: 66px;
  height: 66px;
  margin-left: 79px;
  margin-right: 80px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid grey;
  box-shadow: inset 0px 0px 2px 0.5px;
}
.smiley:active {
  border: 1.5px solid grey;
  box-shadow: inset 0px 0px 3px 1px;
}
.popup {
  width: 250px;
  border: 3px solid #312f30;
  padding: 2px;
  height: 15px;
  border-radius: 5px;
}
.sector_title {
  margin-top: 66px;
  height: 100px;
  background-color: #e6e6e6;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-weight: bold;
}
.ranking_table {
  margin-top: 0px;
}
.ranking_table thead th {
  background-color: #312f30;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 120px;
}
.ranking_table tbody td {
  padding: 10px;
  width: 120px;
  text-align: center;
  border-bottom: solid 3px #312f30;
}
.ranking_table tr:nth-child(even) {
  background-color: #e6e6e6;
}
.ranking_table td:first-child {
  width: 10px;
}
.ranking_table td:nth-child(2) {
  text-align: left;
}
.ranking_quote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}
.modal {
  align-items: center;
}
.modal > .header {
  width: 100%;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #312f30;
  color: white;
}
.modal > .body {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #e6e6e6;
}
.modal > .footer {
  background-color: #e6e6e6;
  position: relative;
  text-align: center;
}
.modal_button {
  margin-top: 10px;
  width: 90px;
  height: 30px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 5px;
}
.modal_input {
  border: 0px;
  border-bottom: 1px solid black;
  background-color: #e6e6e6;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.container_radio {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 30%;
}
.settings_radio {
  width: 300px;
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.settings_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.settings_radio:hover input ~ .checkmark {
  background-color: #312f30;
}
.settings_radio input:checked ~ .checkmark {
  background-color: #312f30;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.settings_radio input:checked ~ .checkmark:after {
  display: block;
  width: 22px;
  height: 22px;
}
.settings_radio .checkmark:after {
  top: 9px;
  left: 9px;
  border-radius: 50%;
  background: white;
}
.form_container {
  width: 30%;
  margin-right: 20%;
  margin-top: 150px;
}
.param_container {
  margin-bottom: 20px;
  margin-left: 50px;
}
.param_label {
  font-size: 30px;
  margin-left: 70px;
}
.param_input {
  font-size: 30px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  float: right;
}
.param_input:disabled {
  background-color: #e6e6e6;
  color: #000000;
}
.form_submit {
  width: 150px;
  height: 50px;
  margin-left: 110px;
  border-radius: 20px;
  background: #312f30;
  color: #ffffff;
  font-size: 21px;
}
.tab_table {
  width: 38%;
  margin-left: 31%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab_but,
.cli_tab {
  width: 33.33%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 1px solid #312f30;
  margin-bottom: 5px;
  height: 50px;
}
.cli_tab {
  background-color: #e6e6e6;
  border-bottom: 10px solid #312f30;
  font-weight: bold;
}
.tab_button:hover {
  background-color: #e6e6e6;
}
